body{
    background-image: url("../pink-clouds.jpg");
    background-size: cover;
}

a {
    color: #AD5C59;
}

.container {
    max-width: 600px;
    margin: 60px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
 }

 main {
    padding: 30px;
}

 .search-form-input {
    background-color: #f9f7fe;
    border: none;
    font-size: 16px;
    padding: 20px;
    width: 75%;
    border-radius: 6px;
 }

 .search-button {
    margin-left: 5px;
    font-size: 16px;
    border: none;
    padding: 20px;
    line-height: 1;
    border-radius: 5px;
    transition: all 200ms ease-in-out;
}

.search-button:hover {
    background-color: #AD5C59;
    color: white;
}

.weather-app-data {
    display: flex;
    justify-content: space-between;
}

.weather-app-city {
    margin: 0;
    font-size: 38px;
    line-height: 48px;
}

.weather-app-details {
    font-size: 16px;
    line-height: 20px;
}

.weather-app-details strong {
    color: #AD5C59;
}

.current-temperature {
    font-size: 48px;
}

.current-temperature-unit {
    font-size: 28px;
    position: relative;
    top: -15px;
}

footer{
    text-align: center;
    padding-top: 80px;
}